<div class="col-12">
  <h3 class="text-center mb-4 mt-4 mb-xl-5 font-weight-light">
    Edit my account
  </h3>
</div>

<div class="text-center mr-auto col-12 col-lg-5 order-lg-2">
  <%= render 'user_avatar' %>
  <%= form_for(Avatar.new, url: me_avatar_path, data: { controller: "avatar" }) do |f| %>
    <div class="avatar-control">
      <label class="btn btn-success">
        Change
        <%= f.file_field :image, direct_upload: true, hidden: true, accept: "image/x-png,image/jpeg", data: { action: "avatar#onPickImage", target: "avatar.image" } %>
      </label>
      <div class="is-default" data-target="avatar.feedback">
        <p class="error too-small">Too small.</p>
        <p class="error too-big">Too big</p>
        <p class="error failure">Network error</p>
        <div class="loading"></div>
      </div>
    </div>

    <%= f.submit "Save", class: "btn btn-success" %>
    <% if current_user.original.attached? %>
      <%= link_to "Resize", edit_me_avatar_path, class: "js-resize-avatar btn btn-outline-primary", data: { turbolinks: false } %>
    <% end %>
  <% end %>
</div>

<div class="col-12 my-4 mx-auto col-sm-10 col-md-7 my-md-4 col-lg-5 mt-lg-0 order-lg-1 ml-lg-auto">
  <div class="card">
    <div class="card-body">
      <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }, defaults: { required: false }) do |f| %>
        <%= f.input :name, autocomplete: "name" %>

        <%= f.input :username,
                    autocomplete: "username",
                    hint: 'Use only letters, numbers and underscore.' %>

        <%= f.input :email, autocomplete: "email" %>

        <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
          <div class="mb-3 text-primary">Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
        <% end %>

        <%= f.input :password,
                    autocomplete: "off",
                    hint: "#{@minimum_password_length} characters minimum. Leave blank if you don't want to change it." %>

        <%= f.input :password_confirmation, autocomplete: "off" %>


        <%= f.input :current_password,
                    autocomplete: "off",
                    hint: 'We need your current password to confirm your changes.' %>

        <div class="actions">
          <%= f.submit "Update", class: 'btn btn-success' %>
        </div>
      <% end %>
    </div>

    <div class="card-footer">
      <h5>Unhappy?</h5>

      <p><%= button_to "Cancel my account", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete, class: 'btn btn-danger' %></p>
    </div>
  </div>
</div>


