<%= render partial: "users/card", locals: { user: @user } %>

<div class="col-12 col-lg-6">
  <div class="card mb-3">
    <% if current_user.present? %>
      <div class="card-body" id="new-pod-wrapper">
        <%= render "pods/form" %>
      </div>
    <% end %>

    <ul class="list-group list-group-flush">
      <%= render @pods %>
    </ul>
  </div>

  <%= paginate @pods %>
</div>

<%= render "shared/footer" %>
