<div class="my-4 ml-auto col-8" data-controller="editor">
  <%= form_for @story, remote: true do |f| %>
    <div class="card">
      <div class="card-body p-2">
        <%= f.text_field :title, class: "form-control", placeholder: "Title" %>
      </div>

      <div class="card-header bg-transparent pt-0">
        <ul class="nav nav-tabs card-header-tabs">
          <li class="nav-item">
            <%= link_to "Write", edit_story_path(@story), class: "active nav-link text-dark", data: { target: "editor.writeTab", action: "editor#write" } %>
          </li>

          <li class="nav-item">
            <%= link_to "Preview", preview_stories_path, class: "nav-link text-dark", data: { action: "editor#preview", target: "editor.previewTab" } %>
          </li>
        </ul>
      </div>

      <div class="card-body p-2" data-target="editor.writeCard">
        <%= f.text_area :content, class: "form-control md-editor", autofocus: true, data: { target: "editor.content" }, rows: 4, placeholder: "Write your story..." %>
      </div>

      <div class="card-body py-2 px-4 d-none" id="editor_preview" data-target="editor.previewCard">
        Loading...
      </div>

      <div class="card-footer bg-white border-0 pt-0 pb-2 px-2">
        <%= f.submit class: "btn btn-success float-right" %>
      </div>
    </div>
  <% end %>
</div>

<div class="my-4 mr-auto col-3">
  <%= render "publish_status" %>
</div>

