<div class="col-12">
  <h2>
    <%= @story.title %>

    <% if policy(@story).edit? %>
      <%= link_to 'Edit', edit_story_path(@story), class: 'btn btn-primary btn-sm' %>
    <% end %>

    <% if policy(@story).destroy? %>
      <%= link_to 'Destroy',
                  @story,
                  method: :delete,
                  data: { confirm: 'Are you sure?' },
                  class: 'btn btn-danger btn-sm' %>
    <% end %>
  </h2>

  <h6 class="font-weight-light">
    By <span class="font-italic"><%= @story.user.name %></span>
  </h6>


  <div>
    <%= @story.content %>
  </div>
</div>
