<div class="<%= page_classes("content-wrapper") %>">
  <%= render 'layouts/nav' %>
  <%= render 'layouts/messages' %>

  <div id="content-body" class="container pt-4">
    <% if defined?(page_raw) && page_raw %>
      <%= yield %>
    <% else %>
      <div class="row">
        <%= yield %>
      </div>
    <% end %>
  </div>

  <% if defined?(page_footer) && page_footer %>
    <%= render 'layouts/footer' %>
  <% end %>
</div>

